.ServicesComments {
    margin-bottom: 15px;
}

.ServicesComments-wrapper {
    min-height: 80px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(23, 123, 16, 0.3);
    border-radius: 20px;
}

.ServicesComments-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: white;
    background-color: #5dbbc1;
    border-radius: 5px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 0 2px 2px rgba(23, 123, 16, 0.2);
}

.ServicesComments-comment {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}