.HomePage {
    margin-top: 120px;
}

.HomePage-Services,
.HomePage-Pricing {
    text-align: center;
}

.HomePage-wrapper-comments {
    background-color: #5dbbc1;
}

.HomePage-Pricing {
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    padding: 40px;
}

.HomePage-wrapper-gallery {
    background-color: #efefef;
}

.HomePage-wrapper-gallery .btn-primary {
    background-color: #130e27;
    border-color: #130e27;
}

.HomePage-wrapper-gallery .card {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 30px 5px rgba(23, 123, 16, 0.3);
}

.HomePage-wrapper-gallery .card-title {
    text-align: center;
    font-size: 25px;
    line-height: 27px;
    font-weight: bold;
    margin-bottom: 30px;
}

.HomePage-wrapper-gallery .card-text {
    margin-bottom: 75px;
    text-align: center;
}

.HomePage-wrapper-gallery .btn {
    position: absolute;
    bottom: 20px;
    width: 50%;
    left: 25%;
    right: 25%;
    font-weight: bold;
    color: white;
}

.HomePage-wrapper-comments-text {
    font-size: 18px;
    line-height: 22px;
    color: white;
    padding: 20px 30px;
    padding-right: 100px;
}

.HomePage-wrapper-comments .btn-primary {
     background-color: #130e27;
     border-color: #130e27;
     font-weight: bold;
 }

.HomePage-wrapper-comments .container .btn-primary {
    color: white;
    width: 85%;
}

.HomePage-wrapper-comments .container .btn-primary:hover {
    color: white;
}

@media (max-width: 575px) {
    .HomePage-wrapper-comments-text {
        text-align: center;
        padding: 20px 40px;
    }
    .HomePage-wrapper-comments .container .btn-primary {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 20px;
    }
}

.HomePage-Services {
    text-align: left;
    font-size: 30px;
    line-height: 32px;
    font-weight: bold;
    padding: 40px 20px;
}

.HomePage-Services-Color {
    color: #5dbbc1;
}

.HomePage-Services-text {
    font-size: 18px;
    line-height: 22px;
    padding: 30px 0;
    text-align: center;
}

.HomePage-Services-img-wrapper {
    padding: 0;
    margin: 0;
}

.HomePage-Services-img1 {
    background-image: url(./images/serviceimg1.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    min-height: 155px;
}

.HomePage-Services-img2 {
    background-image: url(./images/serviceimg2.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    min-height: 155px;
}

.HomePage-Services-img3 {
    background-image: url(./images/serviceimg3.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    min-height: 155px;
}

.HomePage-Services-img4 {
    background-image: url(./images/serviceimg4.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
    min-height: 155px;
}

@media (max-width: 991px) {
    .HomePage-Services-img1 {
        width: 100%;
    }
    .HomePage-Services-img2 {
        width: 100%;
    }
    .HomePage-Services-img3 {
        width: 100%;
    }
    .HomePage-Services-img4 {
        width: 100%;
    }
}


@media (max-width: 575px) {
    .HomePage-Services {
        text-align: center;
    }
}

.carousel {
    box-shadow: 0 0 30px 5px rgba(23, 123, 16, 0.3);
    background-color: #efefef;
    height: 350px;
    width: 62%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.HomePage-Carousel {
    background-color: #efefef;
}

.d-block {
    height: 350px;
}

@media (max-width: 991px) {
    .d-block {
        height: 250px;
    }
    .carousel {
        height: 250px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .carousel {
        width: 70%;
    }
}

@media (max-width: 470px) {
    .carousel {
        width: 100%;
    }
}

@media (max-width: 370px) {
    .d-block {
        height: 150px;
    }
    .carousel {
        height: 150px;
    }
}

.HomePage-wrapper-comments-btn .bd-example-modal-sm .btn-primary {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
}.ServicesComments {
    margin-bottom: 15px;
}

.ServicesComments-wrapper {
    min-height: 80px;
    width: 90%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(23, 123, 16, 0.3);
    border-radius: 20px;
}

.ServicesComments-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: white;
    background-color: #5dbbc1;
    border-radius: 5px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 0 2px 2px rgba(23, 123, 16, 0.2);
}

.ServicesComments-comment {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}.ServicesPage {
  margin-top: 120px;
  background-color: #efefef;
}

.ServicesPage-wrapper {
  margin-bottom: 50px;
  background-color: #5dbbc1;
  color: white;
  box-shadow: 0 10px 15px 0 rgba(22,35,23,.7);
}

.ServicesPage-services-text,
.ServicesPage-Comments-text{
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

.HomePage-Services-text {
  font-weight: bold;
  font-size: 20px;
}.CatalogList {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    min-height: 270px;
}

.CatalogList .addActive {
    animation: popin 0.7s ease;
    position: absolute;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXeQIvCZB_WDeRDawdWq--aIollmKD7jFpJKceaIGq2-4viSzDsw");
    background-repeat: no-repeat;
    background-size: 90%;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 5px;
}

@keyframes popin {
    from {transform:scale(0)}
    90%  {transform:scale(1.3)}
    to   {transform:scale(1)}
}

.CatalogList .addBlock {
    display: block;
}

.CatalogList-wrapper {
    border-radius: 5%;
    background-color: white;
    color: black;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    box-shadow: 10px 10px 30px 0 rgba(19, 14, 39, 0.3);
}

.CatalogList-wrapper:hover {
    box-shadow: 10px 10px 30px 0 rgba(19, 14, 39, 0.8);
    cursor: pointer;
}

.CatalogList .btn {
    background-color: #5dbbc1;
    border-color: #5dbbc1;
    width: 70px;
}

.CatalogList .btn:focus,
.CatalogList .btn:active {
    background-color: #5dbbc1 !important;
    border-color: #5dbbc1 !important;
    box-shadow: none !important;
}

.CatalogList-type {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}

.CatalogList-img-wrapper {
    margin-bottom: 60px;
    height: 120px;
    display: flex;
}

.CatalogList-img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.CatalogList-model {
    bottom: 45px;
    text-align: center;
    width: 78%;
    font-size: 15px;
}

.price-wrapper {
    position: absolute;
    bottom: 3px;
}

.CatalogList-price {
    color: orange;
    font-size: 25px;
    font-weight: bold;
}

.CatalogList-button {
    margin-left: 15px;
}

@media (max-width: 1199px) {
    .CatalogList-price {
        font-size: 18px;
        padding-top: 5px;
    }
    .CatalogList-button {
        margin-left: 0;
    }
    .CatalogList .btn {
        width: 60px;
    }
}

@media (max-width: 991px) {
    .CatalogList-model {
        bottom: 50px;
    }
    .CatalogList-price {
        font-size: 18px;
    }
    .CatalogList-button {
        margin-left: 25px;
    }
    .CatalogList .btn {
        width: 90px;
    }
}

@media (max-width: 767px) {
    .CatalogList-button {
        margin-left: 5px;
    }
    .CatalogList .btn {
        width: 70px;
    }
}

@media (max-width: 575px) {
    .CatalogList .addActive {
        right: 50px;
        top: 10px;
    }
    .CatalogList-img-wrapper {
        height: 250px;
    }
    .CatalogList-img {
        min-height: 60%;
    }
}.CatalogPage {
    margin-top: 120px;
    background-color: #efefef;
    color: white;
}

.CatalogPage-container-shad{
    box-shadow: 0 0px 10px 5px rgba(22,35,23,.5);
}

.CatalogPage-wrapper-shad {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 15px 10px -7px rgba(22,35,23,.5);
    z-index: 1;
}

.CatalogPage-wrapper-shad-Filter {
    box-shadow: 5px 14px 10px 0px rgba(22,35,23,.5);
    z-index: 1;
}

.CatalogPage-List {
    background-color: #efefef;
}

.CatalogPage-Filter {
    background-color: #5dbbc1;
    padding-top: 50px;
    padding-left: 70px;
    min-height: 100vh;
}

.btn-primary-buy {
    margin-top: 150px;
    width: 60%;
}

.CatalogPage-Text {
    background-color: #5dbbc1;
}

.CatalogPage-Text-Loading {
    height: 100vh;
    margin-top: 20px;
    font-size: 42px;
    line-height: 50px;
}

.CatalogPage .radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.CatalogPage .radio__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
    font-weight: bold;
}
.CatalogPage .radio__text:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.CatalogPage .radio__text:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #130e27;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: .2s;
}
.CatalogPage .radio input:checked + .radio__text:after {
    opacity: 0.7;
}
.CatalogPage .radio input:checked + .radio__text:before {
    box-shadow: 0 0 15px 5px rgba(22,35,23,.5);
}

.CatalogPage-header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}

.CatalogPage .btn-primary {
    background-color: #130e27 !important;
    border-color: #130e27 !important;
    box-shadow: #130e27 !important;
    font-weight: bold;
}

.CatalogPage-header-btn {
    margin-right: 5px;
    margin-left: 50%;
}

.CatalogPage-header-search {
    width: 100px;
}

@media (max-width: 991px) {
    .CatalogPage-Filter {
        padding-left: 30px;
    }
    .btn-primary-buy {
        margin-top: 40px;
        width: 90%;
    }
}

@media (max-width: 767px) {
    .CatalogPage-header-btn {
        margin-left: 30%;
    }
    .CatalogPage-Filter {
        padding-left: 20px;
    }
    .btn-primary-buy {
        margin-top: 40px;
        width: 100%;
    }
}


@media (max-width: 575px) {
    .CatalogPage-header-btn {
        margin-left: 0;
        margin-bottom: 25px;
    }
    .CatalogPage-header-search {
        width: 150px;
        margin-bottom: 25px;
    }
    .CatalogPage-Text {
        text-align: center;
    }
    .CatalogPage-Filter {
        display: none;
    }
}

.CatalogPage-Filter p {
    margin: 0;
}

.noFountError {
    color: orange;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 50px;
}


.loader-container {
    font-size: 10px;
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    border-collapse: collapse;
    vertical-align: top;
    top: -3px;
}

.loader-1 {
    width: 50px;
    height: 50px;
    top: 50%;
    margin: -25px auto 0;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #130e27 10%, cadetblue 50%);
    background: -webkit-linear-gradient(left, #130e27 10%, cadetblue 50%);
    background: -o-linear-gradient(left, #130e27 10%, cadetblue 50%);
    background: -ms-linear-gradient(left, #130e27 10%, cadetblue 50%);
    background: linear-gradient(to right, #130e27 10%, cadetblue 50%);
    position: relative;
    -webkit-animation: loader-1 1.5s infinite linear;
    animation: loader-1 1.5s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader-1:before {
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    border-radius: 100% 0 0 0;
}

.loader-1:after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes loader-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.BasketList {
    margin-bottom: 20px;
    box-shadow: 0 5px 5px 0 rgba(22,35,23,.4);
    min-height: 140px;
    /*border-top: 1px solid rgba(22,35,23,.1);*/
}

.BasketList-img-wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 120px;
    display: flex;
}

.BasketList-img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.BasketList-info {
    text-align: center;
    position: relative;
}

.BasketList-count {
    position: absolute;
    right: 15px;
    top: 35%;
}

.BasketList-price {
    color: orange;
    font-size: 25px;
    font-weight: bold;
}

.BasketList-model {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    color: #130e27;
}

.BasketList-model {}

.BasketList-description{
    margin-top: 15px;
}

.BasketList-count-inp {
    background-color: #5dbbc1;
    color: white;
    width: 20px;
    border-radius: 10%;
    border: none;
    box-shadow: 0 0 5px 0 rgba(22,35,23,.7);
    padding: 0;
    margin: 0;
    line-height: 0;
    font-weight: bold;
    user-select: none;
}

.BasketList-count-minus {
    color: red;
    font-size: 25px;
    line-height: 0;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}


.BasketList-count-plus {
    color: green;
    font-size: 25px;
    line-height: 0;
    font-weight: bold;
    margin-left: 2px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 1199px) {
    .BasketList .btn-info {
        font-size: 12px;
    }
    .BasketList-price {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    .BasketList .btn-info {
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .BasketList-price {
        font-size: 18px;
        text-align: right;
    }
}.BasketPage-wrapper {
    margin-top: 120px;
    margin-bottom: 50px;
    background-color: #5dbbc1;
    color: white;
    box-shadow: 0 10px 15px 0 rgba(22,35,23,.7);
}

.BasketPage-header {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

.BasketPage-buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.BasketPage .btn-primary {
    background-color: #130e27 !important;
    border-color: #130e27 !important;
    box-shadow: #130e27 !important;
    font-weight: bold;
    width: 90px;
}

.BasketPage-buttons-wrapper {
    margin: 0;
    padding: 0;
}

.BasketPage-empty {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    color: orange;
    font-weight: bold;
}

.BasketPage-empty-btn {
    margin: 0 auto;
}

@media (max-width: 575px) {
    .BasketPage .btn-primary {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    background-color: #5dbbc1;
    color: white;
    font-weight: bold;
    width:inherit;
    max-width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}

.BasketPage-form-name {
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    box-shadow: 0 0 5px 0 rgba(22,35,23,.9);
}

.BasketPage-form-phone {
    margin-top: 20px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    box-shadow: 0 0 5px 0 rgba(22,35,23,.9);
}

.BasketPage-form-price {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10%;
}

.BasketPage-buttons .BasketPage-form-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.BasketPage-buttons .bd-example-modal-sm .btn-primary {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.success-order {
    text-align: center;
}

.success-order-text {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}.headerLink {
    text-align: center;
    background-color: #130e27;
    background-image: url(./images/header-background.png);
    width: 100%;
    min-height: 120px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.headerLink-Logo {
    background-image: url(./images/LogoMain.png);
    background-repeat: no-repeat;
    min-width: 207px;
    min-height: 72px;
}

.headerNav {
    min-height: 120px;
}

.btn-nav {
    font-size: 18px;
    line-height: 22px;
    color: white;
    margin-left: 16px;
    padding: 5px 14px;
}

.btn-nav:hover {
    background-color: rgba(93, 187, 193, 0.7);
    border-radius: 6%;
}

.btn-nav:hover {
    color: white;
    text-decoration: none;
}

.ActivePageLink {
    background-color: #5dbbc1;
    border-radius: 6%;
}

.ActivePageLink:hover {
    background-color: rgba(93, 187, 193, 1);
}

.btn-basket {
    margin-left: 60px;
}

.headerLink-mainNav {
    text-align: right;
}

@media (max-width: 767px) {
    .headerLink-Logo {
        display: none;
    }
}

@media (max-width: 550px) {
    .headerLink .headerLink-mainNav {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        width: 200px;
    }
    .btn-basket {
        margin-left: 0;
    }
    .btn-nav {
        font-size: 14px;
        line-height: 16px;
        color: white;
        margin-left: 0;
        padding: 5px 14px;
    }
    .ActivePageLink {
        background-color: #5dbbc1;
        border-radius: 3%;
        font-weight: bold;
    }
}.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;/*100px*/
    color: white;
}

.mainLink {
    color: black;
    flex: 1;
}

.footerLink {
    background: #130e27;
    width: 100%;
    min-height: 60px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
    color: #5dbbc1;
    font-style: italic;
    font-weight: bold;
}

.footer-wrapper {
    min-height: 60px;
}

.footerLink-logo {
    background-image: url(./images/LogoFooter.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 120px;
    height: 55px;
}

.footerLink-info {
    text-align: left;
}

.footerLink-adress {
    border: 1px solid white;
}

@media (max-width: 767px) {
    .footerLink-logo {
        display: none;
    }
    .footerLink-info {
        text-align: center;
    }
}
/*# sourceMappingURL=main.bundle.74dbf1eb57151759d667.css.map*/